body{
  background-color: lightgreen;
}

.top-container{
      padding-top: 20px;
      padding-left: 10px;
      border-width: 20px;
      border-color: blue;
}

.middle-container{
  width: 120px;
  height: 120px;
  background-color: Orange;
  position: relative;
  left: 140px;
}

.bottom-container{
  width:120px;
  height:120px;
  background-color: skyblue;
  position: relative;
  bottom: 140px;
}
